<div id="main" class="{{ item.layout }}" itemscope itemprop="blogPost">
  {% if page.layout == 'photo' and item.photos and item.photos | size != 0 %}
	{% include _partial/post/gallery.html %}
  {% endif %}
	<article itemprop="articleBody"> 
	{% include _partial/post/header.html %}
	
	{% assign count = content | strip_html | strip_newlines | remove: " " | size %}
	<div style="padding-right: 2.0em; float:right">
		<script>
		var readtime= {{ count | divided_by: 350 }};//给x赋值
		if (readtime==0){readtime=1;}
		</script>
		<p><i>(总字数：<u>{{count}}</u>      预计阅读时间：<u>{{readtime}}</u> min )</i></p>
	</div>
	
	<div class="article-content">
		{% if table and site.toc.article %}
		<div id="toc" class="toc-article toc-content" style="display: none;">
		{% if item.list_number == false %}
		<!--<%- toc(item.content,{list_number:false}) %>-->
		{% else %}
			<!--<%- toc(item.content) %>-->
		{% endif %}
		</div>
		{% endif %}
		
		{{ content }}  
	</div>
	
	<p>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<span style="padding-right: 2.0em; float:right" id="busuanzi_container_page_pv">
		view：<span id="busuanzi_value_page_pv"></span> time(s)
	</span>
	</p>
	
	
	{% include _partial/post/footer.html %}   
	</article>
	{% include _partial/post/pagination.html %}
	{% include _partial/post/comment.html %}
</div>  